<div class="row">
  <div class="small-12 columns">
    <ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-5">
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
      <li>
        <p class="text-center"><img class="th" src="http://placehold.it/320x240" /></p>
        <p class="text-center">Series Title</p>
      </li>
    </ul>
  </div>
</div>
